---

import Card from "../components/Card.astro";
import Container from "../components/Container.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Aboutus from "../components/Aboutus.astro";
import Contact from "../components/Contact.astro";
import Maps from "../components/Maps.astro";
import Question from "../components/Question.astro";
import Titlesection from "../components/Titlesection.astro";

---

<Layout title="Estudio juridico" description="Con años de experiencia y un compromiso inquebrantable">
  <main class="bg-white">
    <section>
        <Hero />
    </section>
    <div class="space-y-24">
      <Container>
        <Aboutus />
      </Container>

      <Container>
        <Question/>
      </Container>

      <Container>
        <Card />
      </Container>

      <Container id="Contact">
        <Titlesection >
          Contact us
        </Titlesection>
        <Contact />
      </Container>

      <Container>
        <Maps/>
      </Container>
    </div>
  </main>
</Layout>
