<section id="Nosotros" class="text-center pt-20">
  <div>
    <h1 class="text-4xl font-bold pb-8 tracking-tight text-black sm:text-6xl">
      Sobre nosotros
    </h1>
  </div>
  <div>
    <p class="mt-6 text-2xl leading-8 text-gray-500">
      En nuestro estudio jurídico, estamos comprometidos a brindar soluciones
      legales integrales con el más alto nivel de integridad, profesionalismo y
      experiencia. Con años de trayectoria, hemos consolidado una sólida
      reputación basada en la confianza de nuestros clientes, defendiendo sus
      derechos con dedicación y enfoque personalizado. Nuestro equipo de
      abogados especialistas ofrece asesoría en una amplia gama de áreas del
      derecho, incluyendo [menciona áreas como derecho civil, comercial,
      laboral, penal, etc.]. Nos enorgullece acompañar a nuestros clientes en
      cada paso del proceso legal, proporcionando estrategias efectivas y
      soluciones adaptadas a sus necesidades particulares. Creemos en la
      importancia de la transparencia, la ética y la defensa rigurosa de los
      intereses de quienes nos eligen, manteniendo siempre un trato cercano y
      accesible.
    </p>
  </div>
</section>
