<section class="text-center py-40">
    <div>
        <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Sobre nosotros</h1>
    </div>
    <div>
        <p class="mt-6 text-lg leading-8 text-gray-400">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis fugiat vel maxime dolor explicabo nostrum eaque ipsa, nobis magni sequi itaque culpa eveniet eligendi incidunt saepe, fuga minus eum dolorum!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam totam sed accusantium provident sequi harum suscipit assumenda beatae illo, corrupti, vel a, omnis ducimus ipsa? Officiis libero reprehenderit suscipit qui?
        </p>
    </div>
</section>