<section class="text-center py-72">
  <div>
    <h1 class="text-4xl font-bold pb-8 tracking-tight text-black sm:text-6xl">
      Sobre nosotros
    </h1>
  </div>
  <div>
    <p class="mt-6 text-2xl leading-8 text-gray-500">
      Te ayudamos a conocer tus derechos en todas las áreas de tu vida: familia,
      trabajo, relaciones personales y sociedad. Te ofrecemos información clara
      y sencilla sobre cómo protegerlos.
    </p>
  </div>
</section>
