---
const CARDS = [
  {
    title: "LABOR LAW",
    description:
      "Advice to companies and individuals. Employment Registration. Dismissals. Unregistered employment. Workplace accidents.",
    image: "/public/img/img-011.jpg",
  },
  {
    title: "SUCCESSION LAW",
    description:
      "Immediate successions, declaration of heirs and liquidation of assets, inheritance and testamentary agreements,",
    image: "/public/img/img-09.jpg",
  },
  {
    title: "FAMILY LAW",
    description:
      "Conflict resolution in family relationships. Divorce. Personal care of children. Alimony. Domestic and gender violence.",
    image: "/public/img/img-012.jpg",
  },
];
---

<div id="experiencia" class="pt-20">
  <h1 class="text-4xl text-center pb-16 font-bold tracking-tight text-black sm:text-6xl">
    Responsibilities
  </h1>
  <p class="text-center text-gray-700 text-2xl ">
    "We offer personalized legal advice to companies and individuals,
      combining legal knowledge with innovative solutions."
  </p>
  <div class="py-8 flex justify-center flex-wrap gap-4">
    {
      CARDS.map(({ title, description, image }) => (
        <div class=" card bg-base-100 w-80 shadow-xl">
          <figure>
            <img loading="lazy" src={image} alt="Shoes" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">{title}</h2>
            <p>{description}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>
