---

import Banking from "../../public/icons/banking.astro";
import DiversityFamily from "../../public/icons/diversity-family.astro";
import HistoryEdu from "../../public/icons/history-edu.astro";
import HouseShield from "../../public/icons/house-shield.astro";
import Pencil from "../../public/icons/pencil.astro";
import Shield from "../../public/icons/shield.astro";

const TAGS = {
  Banking: {
    icon: Banking
  },
  DiversityFamily: {
    icon: DiversityFamily
  },
  HistoryEdu: {
    icon: HistoryEdu
  },
  HouseShield: {
    icon: HouseShield
  },
  Shield: {
    icon: Shield
  },
  pencil: {
    icon: Pencil
  }
};
const CARDS = [
  {
    title: "Banking and Finance",
    description:
      "Varius quisque odio mauris lectus consequat sed. Pretium purus feugiat volut",
    tags: [TAGS.Banking]
  },
  {
    title: "Corporate Law",
    description:
      "Immediate successions, declaration of heirs and liquidation of assets, inheritance and testamentary agreements,",
      tags: [TAGS.HistoryEdu],
  },
  {
    title: "Family Law",
    description:
      "Conflict resolution in family relationships. Divorce. Personal care of children. Alimony. Domestic and gender violence.",
      tags: [TAGS.DiversityFamily],
  },
  {
    title: "Business Law",
    description:
      "Legal Basis for the Creation, Management and Protection of Businesses",
      tags: [TAGS.pencil],
  },
  {
    title: "Criminal Law",
    description:
      "Legal Principles for the Prevention, Prosecution and Punishment of Crimes",
      tags: [TAGS.Shield],
  },
  {
    title: "Real Estate",
    description:
      "Regulations and Legal Principles for Property and Real Estate Transactions",
      tags: [TAGS.HouseShield],
  },
];
---

<div id="experiencie" class="pt-16 ">
  <h1 class="text-4xl text-center pb-16 font-bold tracking-tight text-black sm:text-6xl">
    Practice Areas
  </h1>
  <p class="text-center text-gray-700 text-2xl ">
    "We offer personalized legal advice to companies and individuals,
      combining legal knowledge with innovative solutions."
  </p>
  <div class="pt-8 flex justify-center flex-wrap gap-4">
    {
      CARDS.map(({ title, description,tags }) => (
        <div class="card bg-[#1D232A] w-80 shadow-xl">
          <figure>
            <ul class="pt-4">
              {tags.map((tag)=>(
                <li>
                  <span >
                    <tag.icon class="size-4" />
                  </span>
                </li>
              ))}
            </ul>
          </figure>
          <div class="card-body">
            <h2 class="card-title text-orange-300">{title}</h2>
            <p class="text-gray-300">{description}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>
