<article class="text-center py-4 ">
    <div>
        <h1 class="text-4xl font-bold tracking-tight text-black sm:text-6xl pb-8">Contactenos</h1>
        <p class="mt-6 text-2xl leading-8 text-gray-500">Su consulta no molesta, usted esta a un click de empezar a resolver sus inquietudes,
            complete el formulario debajo y sera respondido a la brevedad.
            Mas de 40 años de experiencia lo esperan. 
        </p>
    </div>
</article>