<article class="flex justify-center aling pb-40">
  <div class="w-full">
    <form class="lg:grid grid-cols-12 gap-4 block" id="contactForm">
      <div class="col-span-4">
        <input
          type="text"
          placeholder="Nombre"
          name="Username"
          class="input input-bordered input-info w-full mb-4"
          required
        />
        <input
        placeholder="Email"
          type="email"
          name="email"
          class="input input-bordered input-info w-full mb-4"
          required
        />
        <input
          type="text"
          placeholder="Telefono"
          name="phone"
          class="input input-bordered input-info w-full mb-4">
      </div>
      <div class="col-span-8">
        <textarea 
          placeholder="Consulta"
          name="Mensaje" 
          class="textarea textarea-info w-full h-28 resize-none mb-2" 
          required
        >
        </textarea>
        <div>
          <button 
            type="submit"
            class="btn btn-outline btn-info w-full">Enviar
          </button>
        </div>
      </div>
    </form>
  </div>
</article>
