<article id="Contacto" class="text-center pt-16">
  <div>
    <h1
      class="text-4xl
            font-bold
            tracking-tight
            text-black
            sm:text-6xl
            pb-8"
    >
      Contact us
    </h1>
    <p
      class="mt-6
            text-2xl
            leading-8
            text-gray-700"
    >
      Your question is not a bother, you are just one click away from starting
      to resolve your concerns, fill out the form below and you will be answered
      as soon as possible. More than 40 years of experience await you.
    </p>
  </div>
</article>
