---

---

<article class="flex justify-center bg-[#1D232A] p-8 rounded-2xl">
  <section class="text-center">
    <div>
      <p
        class="
              text-base
              leading-8
              text-gray-400"
      >
        Your question is not a bother, you are just one click away from starting
        to resolve your concerns, fill out the form below and you will be answered
        as soon as possible. More than 40 years of experience await you.
      </p>
    </div>
    <div>
      <span>
      </span>
    </div>
  </section>
  <div class="w-full">
    <form class="lg:grid gap-4 block" id="contactForm">
      <div>
        <input
          type="text"
          placeholder="Name"
          name="Username"
          class="input input-bordered border border-orange-300 input-info w-full mb-4"
          required
        />
        <input
        placeholder="Email"
          type="email"
          name="email"
          class="input input-bordered border border-orange-300 input-info w-full mb-4"
          required
        />
        <input
          type="text"
          placeholder="phone"
          name="phone"
          class="input input-bordered border border-orange-300 input-info w-full mb-4">
      </div>
      <div>
        <textarea 
          placeholder="Consulta"
          name="Message" 
          class="textarea textarea-info border border-orange-300 w-full h-28 resize-none mb-2" 
          required
        >
        </textarea>
        <div>
          <button 
            type="submit"
            class="btn btn-outline btn-info w-full">
            Send
          </button>
        </div>
      </div>
    </form>
  </div>
</article>
