<article class="flex pb-4">
  <div class="...">
    <form class="flex flex-col" id="contactForm">
      <label for="name">Nombre:</label>
      <input
        type="text"
        name="Username"
        class="input input-bordered input-info w-full max-w-xs"
        required
      />

      <label for="email">Correo Electrónico:</label>
      <input
        type="email"
        name="email"
        class="input input-bordered input-info w-full max-w-xs"
        required
      />
      <label for="message">Mensaje:</label>
      <textarea 
      name="Mensaje" 
      class="textarea textarea-info" 
      required
      ></textarea>

        <button 
        type="submit"
        class="btn btn-outline btn-info">Enviar</button>
    </form>
  </div>
  <div>
    <img class="shadow-black h-[45rem]" src="/public/img/img-02.jpg" alt="" />
  </div>
</article>
