---
import Experienceitem from "./Experienceitem.astro";

const EXPERIENCE = [
  {
    title: "Labor law",
    description: "Dismissals, Suspensions, Unregistered work, Workplace harassment",
  },
  {
    title: "Succession law",
    description:
      "Successions, Wills, Judicial appraisals, Registration by abbreviated tract",
  },
  {
    title: "Family Law",
    description:
      "Divorces, Division of assets, Agreements, Communication regime, Personal care of children",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li>
        <Experienceitem {...experience} />
      </li>
    ))
  }
</ol>
