<div class="relative h-screen w-screen bg-cover bg-center" style="background-image: url('/public/img/img-01.jpg');">
    <div class="absolute inset-0 bg-black/50 flex flex-col  justify-center lg:px-40 px-5 pb-3">
      <p class="sm:text-3xl text-xl text-[#c3c3c3] py-3">Obtenga un apoyo legal</p>
      <h1 class="text-white sm:text-6xl text-3xl font-bold pb-4">Protegiendo tus derechos con <br>integridad y <span class="text-[#c8a77c]">experiencia</span></h1>
      <p class="sm:text-3xl text-xl text-[#b2b2b2] py-3">¡Tu defensa legal, en manos de expertos!</p>
    </div>
  </div>