<div class="relative h-screen w-screen bg-cover bg-center" style="background-image: url('/public/img/img-01.jpg');">
    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center lg:px-20 px-5">
      <h1 class="text-white sm:text-6xl text-3xl font-bold pb-8">Protegiendo tus derechos con integridad y experiencia</h1>
      <p class="sm:text-3xl text-xl text-[#c3c3c3] py-3">¡Tu defensa legal, en manos de expertos!</p>
    </div>
  </div>