<div class="relative h-screen w-screen bg-cover bg-center" style="background-image: url('/public/img/img-01.jpg');">
    <div class="absolute inset-0 bg-black/50 flex items-center justify-center">
      <h1 class="text-white text-6xl font-bold px-4">Protegiendo tus derechos con integridad y experiencia</h1>
    </div>
  </div>