<div class="relative h-screen w-screen bg-cover bg-center bg">
    <div class="absolute inset-0 bg-black/50 flex flex-col  justify-center lg:px-40 px-5 pb-3">
      <p class="sm:text-3xl text-xl text-[#c3c3c3] py-3">Get legal support</p>
      <h1 class="text-white sm:text-6xl text-3xl font-bold pb-4">Protecting your rights with  <br>integrity and <span class="text-[#c8a77c]">experience</span></h1>
      <p class="sm:text-3xl text-xl text-[#b2b2b2] py-3">Your legal defense, in the hands of experts!</p>
    </div>
</div>

<style>
  .bg{
    width: 100%;
    background-image: url(/public/img/img-01.jpg);
  }
</style>