<div class="relative h-screen w-screen bg-cover bg-center" style="background-image: url('/public/img/img-01.jpg');">
    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center">
      <h1 class="text-white sm:text-6xl text-3xl font-bold px-4">Protegiendo tus derechos con integridad y experiencia</h1>
      <p class="text-3xl text-start py-3 px-4">¡Tu defensa legal, en manos de expertos!</p>
    </div>
  </div>