<section class="bg-[#1D232A] rounded-2xl ">
    <div class="flex justify-center flex-wrap  items-center lg:gap-36 gap-4 p-12">
        <div class="">
            <h1 class="text-white sm:text-3xl text-xl pb-3">
                Have legal questions? Ask our experts!
            </h1>
            <p>
                Get clear and reliable answers to your legal questions
            </p>
        </div>
        <div>
            <button class="bg-orange-300 rounded-xl ">
                <h3 class="flex justify-center items-center w-36 h-12 text-white">Ask an expert</h3>
            </button>
        </div>
    </div>
</section>